.formContainer {
    margin: 30px;
}
.formContainer form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.inputGroupContainer {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 30px;
    margin: 20px;
    height: fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 1.1rem;
    text-transform: uppercase;
}
.subTitle {
    margin-top: 20px;
}

.inputGroup {
    display: grid;
    gap: 10px;
}

.input {
    outline: none;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 10px;
    border-radius: 4px;
}
.fullWidth {
    width: 90%;
}

.btnContainer {
    width: 90%;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 10px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer button {
    background-color: #0072a3;
    padding: 4px 15px;
    color: white;
    border-radius: 30px;
}
@media only screen and (max-width: 850px) {
    .inputGroupContainer {
        width: 90%;
    }
}
